<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  @if (data.title === 'Update Impervious') {
    <app-impervious-update-form [impervious]="data.impervious" (submitted)="imperviousSubmitted($event)"></app-impervious-update-form>
  }
  @if (data.title === 'Update Credit') {
    <app-credit-form [credit]="data.credit" (submitted)="creditSubmitted($event)" [mode]="data.mode"></app-credit-form>
  }
  @if (data.title === 'Apportion') {
    <app-apportionment-dialog [mode]="data.mode" [apportionment]="data.apportionment" (close)="apportionmentClosed($event)"></app-apportionment-dialog>
  }
  @if (data.title === 'Add Journal Entry') {
    <app-journal-form  (submitted)="journalSubmitted($event)"></app-journal-form>
  }
  @if (data.title  === 'Update Account') {
    <app-account-form (submitted)="accountSubmitted($event)"></app-account-form>
  }
  @if (data.title  === 'Confirm') {
    <app-confirm-dialog (confirmed)="confirmed($event)" [message]="data.message" [yesno]="data.yesno"></app-confirm-dialog>
  }

</div>
