<mat-expansion-panel expanded="true">
    <mat-expansion-panel-header class="dark-theme">
      <mat-panel-title>
        Accounts
      </mat-panel-title>

    </mat-expansion-panel-header>
    <div class="row" *ngIf="accounts.length > 1">
    <mat-form-field class="full-width">
        <mat-select placeholder="Status" (selectionChange)="statusChanged($event)" [(value)]="account">
          <mat-option *ngFor="let acc of accounts" [value]="acc">
            {{ acc.Status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          Account ID
        </div>
        <div class="row">
            {{account.AccountId}}
        </div>        
      </div>
      <div class="col">
          <div class="row">
            CSA ID
          </div>
          <div class="row">
              {{account.CSA_ID}}
          </div>        
      </div>           
      <div class="col">
          <div class="row">
            Premise ID
          </div>
          <div class="row">
              {{account.PremiseId}}
          </div>        
      </div>     
    </div>
    <mat-divider></mat-divider>

    <div class="row">
        <div class="col">
          <div class="row">
            Status
          </div>
          <div class="row">
              {{getDomain(account.Status, 'Status', 1)}}
          </div>        
        </div>
        <div class="col">
            <div class="row">
              SFEU
            </div>
            <div class="row">
                {{account.Sfeu | number: '1.0-1'}}
            </div>        
        </div>           
        <div class="col">
            <div class="row">
              Use Class
            </div>
            <div class="row">
                {{getDomain(account.UseClass, 'UseClass', 1)}}            </div>        
        </div>     
      </div>   
      <mat-divider></mat-divider>

      <div class="row">
          <div class="col">
            <div class="row">
              Billing Tier
            </div>
            <div class="row">
                {{account.BillingTier}}
            </div>        
          </div>
          <div class="col" *ngIf="parcel">
              <div class="row">
                Parcel Address
              </div>
              <div class="row">
                  {{parcel.SiteAddress}}
              </div>        
          </div>           
          <div class="col" *ngIf="parcel">
              <div class="row">
                  Owner
              </div>
              <div class="row">
                  {{parcel.Owner}}
              </div>        
          </div>     
        </div>     
        <mat-divider></mat-divider>

        <div class="row">
            <div class="col" *ngIf="parcel">
              <div class="row">
                Real Estate ID
              </div>
              <div class="row">
                  {{parcel.RealEstateId}}
              </div>        
            </div>
            <div class="col" *ngIf="parcel">
                <div class="row">
                  PIN #
                </div>
                <div class="row">
                    {{parcel.PinNum}}
                </div>        
            </div>           
            <div class="col" *ngIf="parcel">
                <div class="row">
                </div>
                <div class="row">
                </div>        
            </div>     
          </div>             
    <!-- <app-account-table></app-account-table> -->
    <mat-action-row>
      <button mat-button (click)="sendToCCB()" *ngIf="account.CCBUpdateFlag === 'N'">Send To CCB</button>
      <button mat-button (click)="update()">Update</button>
    </mat-action-row>
  </mat-expansion-panel>