<mat-expansion-panel  expanded="true" >
    <mat-expansion-panel-header class="dark-theme">
      <mat-panel-title>
        Impervious
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-tab-group [selectedIndex]="selectedIndex"
    (selectedIndexChange)="indexChanged($event)" id="tabGroup">
        <mat-tab label="Impervious"><app-impervious-table></app-impervious-table></mat-tab>
        <mat-tab label="GIS Scan"><app-impervious-gis-table></app-impervious-gis-table></mat-tab>
    </mat-tab-group>    
    <mat-action-row>
      <button *ngIf="apportionedTo.length > 0" mat-button (click)="apportionedToClicked()">Apportioned To</button>    
      <button *ngIf="impervious.length > 0" mat-button (click)="updateClicked()">Update</button>
      <button *ngIf="impervious.length === 0" mat-button (click)="updateClicked()">Add</button>    
    </mat-action-row>
  </mat-expansion-panel>