.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em;
    text-align: center;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  