<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Building</mat-label>
        <input
          matInput
          #BuildingImpervious
          placeholder="Building"
          type="number"
          formControlName="BuildingImpervious"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Parking</mat-label>
        <input
          matInput
          #ParkingImpervious
          placeholder="Parking"
          type="number"
          formControlName="ParkingImpervious"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Recreation</mat-label>
        <input
          matInput
          #RecreationImpervious
          placeholder="Recreation"
          type="number"
          formControlName="RecreationImpervious"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Road/Trail</mat-label>

        <input
          matInput
          #RoadTrailImpervious
          placeholder="Road/Trail"
          type="number"
          formControlName="RoadTrailImpervious"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Miscellaneous</mat-label>

        <input
          matInput
          #MiscImpervious
          placeholder="Miscellaneous"
          type="number"
          formControlName="MiscImpervious"
        />
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Other</mat-label>

        <input
          matInput
          #OtherImpervious
          placeholder="Other"
          type="number"
          formControlName="OtherImpervious"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Permitted</mat-label>

        <input
          matInput
          #PermittedImpervious
          placeholder="Permitted"
          type="number"
          formControlName="PermittedImpervious"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Method Date</mat-label>

        <input
          matInput
          [matDatepicker]="MethodDate"
          placeholder="Method Date"
          [formControl]="methodDate"
          name="MethodDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="MethodDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #MethodDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <mat-label>Effective Date</mat-label>

        <input
          matInput
          [matDatepicker]="EffectiveDate"
          placeholder="Effective Date"
          [formControl]="effectiveDate"
          name="EffectiveDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="EffectiveDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #EffectiveDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </div>
</form>
