<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #Building placeholder="Building" type="number" formControlName="Building">
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput #ParkingImpervious placeholder="Parking" type="number" formControlName="ParkingImpervious">
            </mat-form-field>
          </div>        
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #RecreationImpervious placeholder="Recreation" type="number" formControlName="RecreationImpervious">
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput #RoadTrailImpervious placeholder="Road/Trail" type="number" formControlName="RoadTrailImpervious">
            </mat-form-field>
          </div>        
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #MiscImpervious placeholder="Miscellaneous" type="number" formControlName="MiscImpervious">
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput #OtherImpervious placeholder="Other" type="number" formControlName="OtherImpervious">
            </mat-form-field>
          </div>        
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #PermittedImpervious placeholder="Permitted" type="number" formControlName="PermittedImpervious">
          </mat-form-field>
        </div>
      </div>       
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="MethodDate" placeholder="Method Date" [formControl]="methodDate" name="MethodDate">
            <mat-datepicker-toggle matSuffix [for]="MethodDate"></mat-datepicker-toggle>
            <mat-datepicker #MethodDate></mat-datepicker>              
          </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="EffectiveDate" placeholder="Effective Date" [formControl]="effectiveDate" name="EffectiveDate">
              <mat-datepicker-toggle matSuffix [for]="EffectiveDate"></mat-datepicker-toggle>
              <mat-datepicker #EffectiveDate></mat-datepicker>              
            </mat-form-field>
          </div>          
      </div>      
      <div class="row">
        <div class="col">     
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>          
      </div>   
</form>
