.sidenav-container {
  height: 100%;
}

.sidenav {
  max-width: 90%;
  width: 500px;
  top:64px !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
