<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource"  aria-label="Billing Service">
    <!-- Id Column -->
    <ng-container matColumnDef="servicePointId">
      <th mat-header-cell *matHeaderCellDef>Service Point ID</th>
      <td mat-cell *matCellDef="let row">{{row.servicePointId}}</td>
    </ng-container>

    <!-- spTyp Column -->
    <ng-container matColumnDef="spTypeCd">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let row">{{row.spTypeCd}}</td>
    </ng-container>
    <!-- NaspStatusme Column -->
    <ng-container matColumnDef="spStatusFlag">
        <th mat-header-cell *matHeaderCellDef>Service Status</th>
        <td mat-cell *matCellDef="let row">{{row.spStatusFlag}}</td>
      </ng-container>
    <!-- spSrcStatus Column -->
    <ng-container matColumnDef="spSourceStatusFlag">
        <th mat-header-cell *matHeaderCellDef>Source Status</th>
        <td mat-cell *matCellDef="let row">{{row.spSourceStatusFlag}}</td>
      </ng-container>
    <!-- installed Column -->
    <ng-container matColumnDef="installDate">
        <th mat-header-cell *matHeaderCellDef>Installed</th>
        <td mat-cell *matCellDef="let row">{{row.installDate | date}}</td>
      </ng-container>            
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
